<ion-view title="登陆">
  <ion-header-bar align-title="center" class="bar-light">
    <a class="button button-clear" href="#/login"><i class="icon ion-arrow-left-c"></i></a> <!--返回箭头 -->
    <h1 class="title">用户注册</h1>
 </ion-header-bar>
    <ion-content>
      <div class="list">
           <label class="item item-input">
               <input type="text" placeholder="手机号"  ng-model="account.value" required="required">
               <span ng-show="isAccountNull">用户名是必须的</span>
               <span ng-show="isAccountFalsePattern">用户名必须为电话号码</span>
           </label>
           <label class="item item-input">
               <input type="text" placeholder="密码:必须以字母开头，长度为8~32位" ng-model="password.value" required="required">
               <span ng-show="isPasswordNull">密码是必须的</span>
               <span ng-show="isPasswordFalsePattern">密码必须以字母开头，长度为8~32位</span>
           </label>
       </div>
     <div align="center"> <a class="button button-self" ng-click="registerbtn_click();"
       ng-disabled="isAccountNull||isAccountFalsePattern||isPasswordNull||isPasswordFalsePattern">注册</a></div><!--自定义按钮 -->
    </ion-content>
</ion-view>
