<ion-view view-title="知识">
  <ion-content>
    <div class="row">
      <div class="col"><label class="icon ion-bookmark"></label></div>
      <div class="col col-75"><label>操作指南</label></div>
      <div class="col"><a>更多</a></div>
    </div>
    <hr>
    <div class="row">
      <div class="col guide">
        <img src="./img\temperatureSetting.png" alt="" />
        <p>如何设置适宜的温度</p>
      </div>
      <div class="col guide">
        <img src="./img\modeSetting.png" alt="" />
        <p>如何设置起止时间</p>
      </div>
      <div class="col guide">
        <img src="./img\timeSetting.png" alt="" />
        <p>如何选择适合您的加热模式</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col"><label class="icon ion-bookmark"></label></div>
      <div class="col col-75"><label>远红外治疗知识</label></div>
      <div class="col"><a>更多</a></div>
    </div>
    <hr>
    <div class="row knowledge-item">
      <div class="col">
        <img src="./img\knowledgeBrief1.jpg" />
      </div>
      <div class="col col-73">
        <h4>什么是远红外</h4>
        <p>
          太阳光线大致可分为可见光及不可见光。可见光经三棱镜后会折射出紫、蓝、青、绿、黄、橙、红颜色的光线（光谱）。红光外侧的光线，
        </p>
      </div>
    </div>
    <div class="row knowledge-item">
      <div class="col">
        <img src="./img\knowledgeBrief2.jpg" />
      </div>
      <div class="col col-73">
        <h4>远红外——生命之光</h4>
        <p>
          太阳光线大致可分为可见光及不可见光。可见光经三棱镜后会折射出紫、蓝、青、绿、黄、橙、红颜色的光线（光谱）。红光外侧的光线，
        </p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col"><label class="icon ion-bookmark"></label></div>
      <div class="col col-75"><label>公司简介</label></div>
      <div class="col"><a>更多</a></div>
    </div>
    <hr>
    <div class="profile row">
      <img src="./img\company.jpg" style="width:200px;height:150px;margin:4px auto;"/>
    </div>
    <div class="row">
      天涯梦床具有限公司是一家集床垫生产、销售、科研为一体的大型综合性企业，公司拥有专业的床垫研发小组，不断开发床垫新品近百种。天涯梦床垫独特的弹力网内部结构，时尚尊贵的外
      观设计，环保健康的新材料运用，保健功能的充分挖潜，打破了传统席梦思的产品定位，开发出适合不同消费需求的家居，宾馆类床垫产品。
    </div>
  </ion-content>
</ion-view>
