<ion-view view-title="温度控制">
  <ion-content class="setting-page" overflow-scroll="true" >
    <maxpup-side-tabs>
      <maxpup-side-pane title="即时控制" url="templates/\side-tab-instantControl.html">
      </maxpup-side-pane>
      <maxpup-side-pane title="加热预约" url="templates/\side-tab-heatAppoint.html">
      </maxpup-side-pane>
      <maxpup-side-pane title="理疗预约" url="templates/\side-tab-therapyAppoint.html">
      </maxpup-side-pane>
    </maxpup-side-tabs>
  </ion-content>
</ion-view>
